<footer class="main-footer">
  <div class="container">
    <strong>Copyright &copy; 2017 <a href="http://stmikbumigora.ac.id">STMIK Bumigora Mataram</a>.</strong> All rights
    reserved.
  </div>
  <!-- /.container -->
</footer>