<section class="home-jumbotron" style="background: #fff; box-shadow: 0 1px rgba(0, 0, 0, 0.1)">
  <div class="container">
    <div class="jumbotron-wrapper">
      <div class="row">
        <div class="col-md-6">
          <div class="jumbotron-text">
            <h2 style="font-weight: 700">It’s time to give something else to your organization. Write and share real page, post and event about your organization.</h2>

            <div class="home-login-wrapper margin-lg-top">
              <div class="row">
                <div class="col-md-4">
                  <%= link_to "Let's write something", new_author_session_path, class: "btn btn-cp btn-sm btn-block margin-md-bottom record-data", style: "border-radius: 20px" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img src="http://velotur.zp.ua/images/preloader.gif" height="400px" alt="">
          <!--
          https://d13yacurqjgara.cloudfront.net/users/881058/screenshots/2718936/animated-gifs.gif
          http://velotur.zp.ua/images/preloader.gif
          https://resources.cloud.genuitec.com/wp-content/uploads/2015/12/umbrella-5.gif
          https://d13yacurqjgara.cloudfront.net/users/189524/screenshots/2505118/jerry_simple_animation_dribbble.gif
          -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END: SECTION JUMBOTRON -->