<% provide(:page_title, "| New Event") %>

<% provide(:events_active, "active") %>

<% provide(:page_header, "Add New Event") %>
<% provide(:optional_description, "Form for add new event") %>

<% provide(:level, "All Events") %>
<% provide(:location, "Add New Event") %>

<div class="box box-default">
  <div class="box-header with-border">
    <%= link_to "Cancel", authors_events_url, class: "btn btn-default btn-sm" %>
  </div>
  <%= render 'form', event: @event, url: authors_events_url %>
</div>
